
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    min-height: 100vh;
    color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 250, 255);
}

.header {
    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 10px solid rgb(0, 225, 255);
}

a {
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.content__heading {
    color: hotpink;
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    text-decoration: underline;
}

.cast__heading {
    color: hotpink;
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    text-decoration: underline;
}

.content__heading--blue {
    color: rgb(0, 225, 255);
}

.header__logo {
    width: 90px;
    border-radius: 10px;
}

.content__heart {
    width: 40px;
    margin-bottom: 10px;
}

a.header__link {
    text-decoration: none;
    color: rgb(234, 250, 255);
    cursor: pointer;
    padding: 0px 15px;
    font-weight: bold;
}

a.header__link:hover {
  background-color: rgb(0, 225, 255);
  transform: translateY(-2px);
  border-radius: 5px;
}

.hero {
    background-color: hotpink;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: auto;
    padding: 20px;
    align-items: center;
    margin: 60px 0px;
}

.content__img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-left: 60px;
}

.content__container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.content__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 220, 237);
    padding: 20px;
    border-radius: 20px;
    border: 5px double hotpink;
    width: 93%;
}

.content__paragraph {
    width: 85%;
    font-size: 20px;
    font-weight: 300;
}

.content__section--two {
    min-height: 200px;
    background-color: rgb(193, 246, 253);
    border: 5px double rgb(0, 225, 255);
}

.content__group {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
    margin-top: 5px;
}


.content__label {
    color: rgb(0, 225, 255);
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 27px;
}

.content__text {
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cast {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;
    gap: 50px;*/
    align-items: center;
}

.cast__image {
    border-radius: 10px;
    margin: 30px 0px;
}

.cast__button:hover {
    background-color: rgb(0, 225, 255);
    color: hotpink;
    border: 9px double hotpink;
}

.cast__button {
  background-color: hotpink;
  color: rgb(0, 225, 255);
  border: 9px double rgb(0, 225, 255);
  border-radius: 5px;
  width: auto;
  font-size: 27px;
  padding: 25px 65px;
  cursor: pointer;
  margin-bottom: 60px;
  font-weight: bold;
}

.footer {
    background-color: hotpink;
    color: rgb(234, 250, 255);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-top: 10px solid rgb(0, 225, 255);
}

